/* body{
    background-color:orangered;
} */

#header{
    background-color: rgb(17, 47, 102);
}

h1{
    font-size: 50px;
}

a{
    margin-left: 30px;
    margin-top: 15px;
    color: red;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: rgb(17, 47, 102);
}
a:visited{
    color: black;
    text-decoration: none;
}